{% extends "concours/base.html" %}
{% load staticfiles %}

{% block title %}Accueil{% endblock %}

{% block content %}

<div class='text-accueil'>
	<h3> X-WineContest: partagez votre passion!</h3>
	<break>

	<p>
	Le binet œnologie de l'Ecole Polytechnique est fier de vous présenter son concours d'œnologie : le X-WineContest.
	Cette première édition aura lieu le 13 février prochain à Saint-Emilion, dans la prestigieuse propriété de château Figeac : l'occasion pour chacun de partager sa passion du vin avec d'autres étudiants dans un cadre exeptionnel.
	</p>
</div>
{% endblock%}

{% block image %}
<img alt="Debourrement" title="Debourrement" src="{% static 'concours/img/Debourrement.png' %} " class='backgroundImage' id='backgroundImage'/>
{% endblock %}