{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class='text-allArticles'>
	<h3> Nos partenaires </h3>
	<break>

	<p>
	Articles récents:
	</p>
	<break>

	{% for article in derniers_articles %}

	<div class="article">
		<h4>{{ article.titre }}</h4>
		{% if article.image %}
		<img alt="img" title={{article.titre}} src={{ article.image.url }} class='img-article' />
		{% endif %}
		<p>{{ article.contenu|truncatewords_html:80 }}</p>
		<p><a href="{% url "concours.views.lire" article.id %}" class='link-actualites'>Lire la suite</a>
	</div>

	{% empty %}
	
		<p>Aucun article</p>
	
	{% endfor %}
</div>

{% endblock%}