{% extends "concours/base.html" %}
{% load staticfiles %}

{% block title %}Contact{% endblock %}

{% block content %}

<div class='text-contact'>
	<h3> Contactez-nous ! </h3>
	<break>


	<table >
		<tr>
			<td class='tableContact'><p>Email:</p></td>
			<td class='tableContact'><p>oenologie@binets.polytechnique.fr</p></td>
		</tr>
		<tr>
			<td class='tableContact'><p>Adresse:</p></td>
			<td class='tableContact'><p>Binet œnologie</p>
				<p>10 Bd des Maréchaux,</p>
				<p>91120 PALAISEAU</p></td>
		</tr>
	</table>

</div>

{% endblock%}



{% block image %}
<img alt="Automne" title="Automne" src="{% static 'concours/img/Automne.png' %} " class='backgroundImage' id='backgroundImage'/>
{% endblock %}

