{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Equipe{% endblock %}

{% block content %}

<div class='text-equipe'>
	<h3>L'équipe</h3>
	<break>

	<p>
	Le Binet Œnologie de l’Ecole polytechnique a été créé il y a une quinzaine d’années. Il rassemble 16 étudiants autour d’une passion commune, avec la volonté de partager et de rassembler autour du vin. Il propose diverses activités aux promotions présentes à l’Ecole : des cours d’œnologie, des dégustations, des soirées Vins et Fromages et des commandes groupées de vin pour toute la promotion.
	Cette année, nous nous sommes tous investi pour créer la première édition du X-WineContest!
	</p>
</div>

{% endblock%}

{% block image %}
<img alt="grappe" title="grappe" src="{% static 'concours/img/grappe.bmp' %} " class='backgroundImage' id='backgroundImage'/>
{% endblock %}
