{% extends "concours/base.html" %}
{% load staticfiles %}

{% block title %}Partenaires{% endblock %}

{% block content %}

<div class='text-partenaires'>
	<h3> Nos partenaires </h3>
	<break>

	<p>
	Nous sommes heureux de vous présenter nos partenaires, qui nous soutiennent pour organiser le X-WineContest!
	</p>
	<break>

	{% for article in derniers_articles %}

	<div class="article">
		<h4>{{ article.titre }}</h4>
		{% if article.image %}
		<img alt="img" title={{article.titre}} src={{ article.image.url }} class='img-article' />
		{% endif %}
		<p>{{ article.contenu|truncatewords_html:80 }}</p>
		<p><a href="{% url "concours.views.lire" article.id %}" class='link-actualites'>Lire la suite</a>
	</div>

	{% empty %}
	
		<p>Aucun article pour l'instant</p>
	
	{% endfor %}

	<form action="{% url "concours.views.allArticles" %}" method="post">
		{% csrf_token %}
		<input type="hidden" value='PA' name="genre"/>
		<input type="submit" value= "Tous nos partenaires" class="post-link"/>
	</form>

</div>

{% endblock%}




{% block image %}
<img alt="Figeac" title="Figeac" src="{% static 'concours/img/Figeac.png' %} " class='backgroundImage' id='backgroundImage'/>
{% endblock %}